---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 18px/1.4 $anaheim;
  color: $darkerGray;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  color: $black;
  margin: 20px 0 5px 0;
  line-height: 1.5;
  padding: 0;

  @include mobile {
    line-height: 1.3;
  }
}

h1 {
  font-size: 26px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px
}

p {
  margin: 5px 0 15px 0;
  line-height: 1.4;
}

a {
  color: $cyan;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active, &:hover>i {
    color: lighten($cyan, 5%);
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//
.grid-container {
  max-width: 900px;
}
.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  img {
    border-radius: 5px;
    border: none;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  margin-bottom: 5px;
  cursor: pointer;
  font-family: $encodesans;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 1px;
}

.site-name, .main-nav {
  a {
    color: $lightGray;
    &:hover {
      color: white;
    }
  }
}

.site-description {
  margin: -5px 0 0 0;
  color: lighten($gray, 40%);
  font-size: 18px;

  @include mobile {
    margin: 3px 0;
  }
}
.site-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.site-intro {
  text-align: center;
  font-size: 20px;
  margin: 10px 70px 20px;
  @include mobile {
    margin: 5px 15px;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 14px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//
.callout {
  border-radius: 5px;
}
.post-img {
  margin-right: 15px;
  margin-left: 15px;
  img {
    box-shadow: 0 0 5px #333;
    border: 1px solid white;
  }
}
.tag-page {
  img {
    width: 150px;
  }
  .tag-result {
    margin-bottom: 20px;
  }
}
.posts {
  .summary-title {
    margin-top: 0;
  }
  .post-img {
    img {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .entry {
    font-size: 18px;
  }
  .post-sep {
    border-bottom: 1px solid #fbefe2;
  }
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  img {width: 100%;}
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }
  .comments {
    margin-top: 10px;
  }

}
.page-title,
.post-title {
  font-size: 35px;
  font-weight: normal;
  margin: 0;
  margin-top: 20px;
}
.post-title-sep {
  border-width: 3px;
  border-color: black;
  max-width: 150px;
  margin-top: 0px;
  margin-bottom: 40px;
  margin-left: 0;
}

.read-more {
font-size: 15px;
  color: lighten(red, 15%)
}

.post-meta {
  font-size: 15px;
}

.pagination-wrapper {
  float: none;
  text-align: center;
  display: block;
  .pagination {
    padding: 0px;
    a, .current {
      border-radius: 3px;
    }
    .next, .previous {
      margin: 0px;
      text-align: center;
      &::after, &::before {
        margin: 0;
      }
    }
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

.tag {
  color: #555;
  font-weight: bold;
}

.header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
  background: #333;
}

.tag-title {
  line-height: 40px;
}
.post-detail {
  position: relative;
  .post-image {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: auto;
  }
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";

