<div class="grid-x">
  <div class="large-3 medium-3 cell">
    <div class="post-img">
      <img src="{{ post.image }}" alt="">
    </div>
  </div>
  <div class="large-9 medium-9 cell">
    <article class="post">
      <h3 class="summary-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
      <div class="entry">
        {{ post.excerpt| strip_html | strip_newlines | truncate: 200 }}
      </div>
      <div class="clearfix">
        <a class="read-more float-left" href="{{ site.baseurl }}{{ post.url }}" >Read More</a>
        <div class="float-right">
          {% for tag in post.tags %}
            <a class="tag" href="{{ '/tag/' | append:tag }}" rel="tag">#{{ tag }}</a>
          {% endfor %}
        </div>
      </div>
    </article>
  </div>
</div>
