<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}
    {% include ga.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Encode+Sans|Anaheim" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/plugins/foundation/foundation.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/plugins/simple-line-icons/css/simple-line-icons.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <!-- Created with Jekyll Now - http://github.com/barryclark/jekyll-now -->
  </head>

  <body>
    {% include header.html %}
    <div id="main" role="main" class="grid-container">
      {{ content }}
    </div>

    <!--div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div-->

    {% include analytics.html %}
    <script type="text/javascript" source="{{ site.baseurl }}/plugins/jquery/jquery.js">
    <script type="text/javascript" source="{{ site.baseurl }}/plugins/foundation/foundation.min.js">
  </body>
</html>
