---
layout: default
comments: true
---

<article class="post post-detail">
  <h1 class="post-title">{{ page.title }}</h1>
  <hr class="post-title-sep">
  {% if page.image%}
  <img class="post-image" src="{{page.image}}"/>
  {% endif %}
  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
